﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <meta name="author" content="Tuğcan Özel" />
    <title>@ViewBag.Title</title>
    <link href="~/Style/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
  @RenderBody()
    Tuğcan Özel G151210057
</body>
</html>
